html {
  background-color: RGB(247, 247, 247);
  color: RGB(70, 70, 70); }

h1, p, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: RGB(128, 128, 128); }

.button, .DeleteGroup {
  padding: 8px 11px;
  margin: 8px 0;
  display: block;
  width: 80px;
  color: RGB(85, 114, 179);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: 1px solid RGB(85, 114, 179); }

.button:hover, .DeleteGroup:hover {
  border: 1px solid RGB(20, 36, 72);
  background-color: RGB(128, 171, 217);
  color: RGB(20, 36, 72); }

.DeleteGroup {
  text-decoration: none;
  color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69);
  text-align: center; }

.DeleteGroup:hover {
  color: #fff;
  background-color: RGB(219, 69, 69);
  border-color: RGB(219, 69, 69);
  cursor: pointer; }
